@page "/about"

<div class="container w-100 d-flex justify-content-center align-items-start" style="height: 100vh;">
    <div>
        <h1>About</h1>
        <p>Welcome to GuitarScaleApp! This application helps guitar enthusiasts learn and practice various guitar scales. Explore different scales, practice with interactive tools, and improve your guitar skills.</p>
        <p>Also there is a weather forecast, so you can check if you need to go outside and get some sunshine :D </p>
    </div>
</div>