@using BlazorWasmGuitarScales.Models
@using BlazorWasmGuitarScales.Services
@using BlazorWasmGuitarScales.Components
@inject WeatherService WeatherService
@page "/weatherforecast"

<PageTitle>Weather Forecast</PageTitle>

<div class="container w-100 d-flex justify-content-center align-items-start" style="height: 100vh;">
    <div>
        <h1>Weather for Denmark</h1>
        <br />
        <BlazorWasmGuitarScales.Components.WeatherTable />
        <br />
        <BlazorWasmGuitarScales.Components.WeatherChart />
    </div>
</div>

@code {

}